**/build
*.bat
*.log
*.lnk
*.aps
**/msvc/Debug*
**/msvc/Release*
**/msvc/Tests
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.txt
**/msvc/*.aps
**/msvc/*.amplxeproj
**/msvc/.vs
**/msvc/ipch

regamedll/version/appversion.h
regamedll/msvc/PublishPath*.txt
publish
