###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.sh -lf
gradlew -lf

# Sources
*.c     text diff=c
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=c
*.h++   text diff=cpp
*.hh    text diff=cpp

# Compiled Object files
*.o     binary
*.a     binary
*.obj   binary
*.lib   binary

# Project files
#*.sln     merge=binary
#*.vcxproj merge=binary
