###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Sources
*.c               text eol=crlf diff=c
*.cc              text eol=crlf diff=cpp
*.cxx             text eol=crlf diff=cpp
*.cpp             text eol=crlf diff=cpp
*.c++             text eol=crlf diff=cpp
*.hpp             text eol=crlf diff=cpp
*.h               text eol=crlf diff=c
*.h++             text eol=crlf diff=cpp
*.hh              text eol=crlf diff=cpp

# Scripts
*.sh              text eol=lf
*.bat             text eol=crlf
*.def             text eol=crlf
*.fgd             text eol=crlf
*.cfg             text eol=crlf
*.vm              text eol=crlf

# Compiled Object files
*.o               binary
*.a               binary
*.obj             binary
*.lib             binary
*.jar             binary

# Resources files
*.spr             binary
*.zip             binary
*.wad             binary
*.bsp             binary
*.rmf             binary

# Project files
*.sln             text eol=crlf
*.vcxproj         text eol=crlf
*.vcxproj.filters text eol=crlf
